*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: #24272E; 
}
header{
    background: white;
    padding: 20px;
}

header > h1{
    font-family: sans-serif;
    text-align: center;
    color: #24272E;
}


.score{

   
    border: 3px solid white;
    margin: 20px auto;
    color: white;
    border-radius: 2px;
    text-align: center;
    font-family: sans-serif;
    width: 200px;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.score span {
    font-size: 35px;
}
.card{
    color: white;
    background-color: maroon;
    font-size: 20px;
    padding: 6px 14px;
}
.score #user-card{
    position: absolute;
    top: 25px;
    left: -31px;
    border-radius: 2px; 
 }


.score #comp-card{
    position: absolute;
    top: 25px;
    right: -40px;
    border-radius: 2px;
 }

.result{
    text-align: center;
    margin: 10px 0;
    
}

.result > p{
    color: white;
    font-size: 44px;
    font-family: sans-serif;
    font-weight: bold;
}


.choices{
    text-align: center;
 }

.choices .choice img{
    width: 90px;
    height: 90px;
}

.choices .choice{
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%; 
    padding: 20px;
    margin: 12px 6px;
}

.choices .choice:hover{
    cursor: pointer;
    background-color: #15181A;
    
}

#action{

    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 6px; 
}

.red-style{

    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.green-style{

    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}


.gray-style{

    border: 4px solid lightblue;
    box-shadow: 0 0 10px lightblue;
}